*{
	font-family: 'Montserrat';
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	overflow: hidden;
}

.background {
/* Style for "Background" */
	width: 1920px;
	height: 1080px;
	background-image: radial-gradient(1538px 769px at 50% 50%, #f1f0ee 0%, #f2efed 62%, #e6e3e1 100%);
}

.login-logo{
/* Style for "Logo-origi" */
	position: absolute;
	top: 321px;
	left: 699px;
	width: 522px;
	height: 80px;
}

.login-form {
/* Style for "Rectangle" */
	position: absolute;
	top: 441px;
	left: 680px;
	width: 560px;
	height: 320px;
	border-radius: 50px;
	border: 1px solid rgba(255, 255, 255, 0.25);
	background-image: linear-gradient(119deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.6) 100%);
}

.login-email{
/* Style for "Path 4811" */
	position: absolute;
	font-style: italic;
	padding-left: 10px;
	top: 501px;
	left: 835px;
	width: 250px;
	height: 40px;
	box-shadow: 0 1px 3px rgba(43, 62, 75, 0.2);
	border-radius: 20px;
	border: 0px solid;
	/* Style for "Email..." */
	color: #8d969b;
	font-size: 16px;
}

.login-password{
/* Style for "Rectangle" */
	position: absolute;
	font-style: italic;
	padding-left: 10px;
	top: 561px;
	left: 835px;
	width: 250px;
	height: 40px;
	box-shadow: 0 1px 3px rgba(43, 62, 75, 0.2);
	border-radius: 20px;
	border: 0px solid;
	/* Style for "Password…" */
	color: #8d969b;
	font-size: 16px;

}

.continue-vanderlande {
		/* Style for "Or continu" */
	position: absolute;
	top: 621px;
	left: 838px;
	width: 246px;
	height: 20px;
	color: #0096ff;
	font-size: 16px;
	font-style: italic;
	letter-spacing: normal;
	line-height: normal;
	text-align: center;
	/* Text style for "Or continu" */
	color: #8d969b;
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
	/* Text style for "Vanderland" */
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
}

.login-button{
	/* Style for "Rectangle" */
	position: absolute;
	top: 660px;
	left: 900px;
	width: 120px;
	height: 40px;
	box-shadow: 0 1px 3px rgba(43, 62, 75, 0.2);
	border-radius: 50px;
	background-color: #ffffff;
	border: 0px solid;
	/* Style for "Login" */
	color: #2b3e4b;
	font-size: 16px;
	font-weight: 700;
	line-height: 22px;
	text-align: center;
	/* Text style for "Login" */
	font-style: normal;
}

a {
	color: #000000;
  	text-decoration: none;
}

.account-vanderlande {
	color: #0096FF;
  	text-decoration: none;
}

.release-rectangle{
/* Style for "Rectangle" */
	position: absolute;
	top: 120px;
	left: 255px;
	width: 1602px;
	height: 941px;
	box-shadow: 15px 15px 50px rgba(0, 0, 0, 0.2);
	border-radius: 50px;
}

.release-logo {
/* Style for "Logo-origi" */
	position: absolute;
	top: 35px;
	left: 20px;
	width: 326px;
	height: 50px;
}

.product-icon{
/* Style for "Path 4780" */
	position: absolute;
	top: 37px;
	left: 406px;
}

.product-releases{
/* Style for "VIBES PROD" */
	position: absolute;
	top: 50px;
	left: 456px;
	width: 230px;
	height: 20px;
	color: #000000;
	font-size: 16px;
	font-weight: 700;
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
	text-align: left;
	text-transform: uppercase;
	/* Text style for "VIBES PROD" */
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
}

.installed-icon{
/* Style for "Path 4784" */
	position: absolute;
	top: 45px;
	left: 736px;
}

.installed-base{
/* Style for "VIBES PROD" */
	position: absolute;
	top: 50px;
	left: 775px;
	width: 287px;
	height: 20px;
	color: #000000;
	font-size: 16px;
	font-weight: 700;
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
	text-align: left;
	text-transform: uppercase;
/* Text style for "VIBES PROD" */
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
}

.subscribe-icon{
/* Style for "Path 4791" */
	position: absolute;
	top: 51px;
	left: 1118px;
}

.subscribe{
/* Style for "SUBSCRIBE" */
	position: absolute;
	top: 50px;
	left: 1160px;
	width: 97px;
	height: 20px;
	color: #000000;
	font-size: 16px;
	font-weight: 700;
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
	text-align: left;
	text-transform: uppercase;
/* Text style for "SUBSCRIBE" */
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
}

.notification-icon{
/* Style for "Path 4785" */
	position: absolute;
	top: 49px;
	left: 1544px;
}

.account-name{
	/* Style for "Gürkan Dül" */
	position: absolute;
	top: 48px;
	left: 1586px;
	width: 160px;
	height: 24px;
	color: #000000;
	font-size: 20px;
	font-weight: 700;
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
	text-align: left;
/* Text style for "Gürkan Dül" */
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
}

.arrowdown-icon{
/* Style for "Path 4786" */
	position: absolute;
	top: 57px;
	left: 1755px;
}

.profile-picture{
	/* Style for "Ellipse 19" */
	position: absolute;
	top: 20px;
	left: 1800px;
}

.release181{
/* Style for "Release 18" */
	position: absolute;
	top: 160px;
	left: 20px;
	width: 146px;
	height: 20px;
	color: #000000;
	font-size: 16px;
	font-weight: 700;
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
	text-align: left;
/* Text style for "Release 18" */
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
}

.released-icon-181{
/* Style for "Icon ionic" */
	position: absolute;
	top: 161px;
	left: 176px;
	width: 17px;
	height: 17px;
}

.release182{
/* Style for "Release 18" */
	position: absolute;
	top: 219px;
	left: 20px;
	width: 101px;
	height: 20px;
	color: #000000;
	font-size: 16px;
	font-weight: 700;
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
	text-align: left;
/* Text style for "Release 18" */
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
}

.released-icon-182{
/* Style for "Icon ionic" */
	position: absolute;
	top: 220px;
	left: 130px;
	width: 17px;
	height: 17px;
}

.release191{
/* Style for "Release 19" */
	position: absolute;
	top: 278px;
	left: 20px;
	width: 96px;
	height: 20px;
	color: #000000;
	font-size: 16px;
	font-weight: 700;
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
	text-align: left;
/* Text style for "Release 19" */
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
}

.released-icon-191{
/* Style for "Icon ionic" */
	position: absolute;
	top: 279px;
	left: 126px;
	width: 17px;
	height: 17px;
}

.release194{
/* Style for "Release 19" */
	position: absolute;
	top: 337px;
	left: 20px;
	width: 101px;
	height: 20px;
	color: #000000;
	font-size: 16px;
	font-weight: 700;
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
	text-align: left;
/* Text style for "Release 19" */
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
}

.released-icon-194{
/* Style for "Icon ionic" */
	position: absolute;
	top: 338px;
	left: 131px;
	width: 17px;
	height: 17px;
}

.release201{
/* Style for "Release 20" */
	position: absolute;
	top: 396px;
	left: 20px;
	width: 100px;
	height: 20px;
	color: #000000;
	font-size: 16px;
	font-weight: 700;
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
	text-align: left;
/* Text style for "Release 20" */
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;	
}

.released-icon-201{
/* Style for "Icon ionic" */
	position: absolute;
	top: 397px;
	left: 130px;
	width: 17px;
	height: 17px;
}

.release2011{
/* Style for "Release 20" */
	position: absolute;
	top: 455px;
	left: 20px;
	width: 110px;
	height: 20px;
	color: #000000;
	font-size: 16px;
	font-weight: 700;
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
	text-align: left;
/* Text style for "Release 20" */
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;	
}

.released-icon-2011{
/* Style for "Icon ionic" */
	position: absolute;
	top: 456px;
	left: 140px;
	width: 17px;
	height: 17px;
}

.release202{
/* Style for "Release 20" */
	position: absolute;
	top: 514px;
	left: 20px;
	width: 104px;
	height: 20px;
	color: #000000;
	font-size: 16px;
	font-weight: 700;
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
	text-align: left;
/* Text style for "Release 20" */
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
}

.released-icon-202{
/* Style for "Icon ionic" */
	position: absolute;
	top: 515px;
	left: 133px;
	width: 17px;
	height: 17px;
}

.button-release204{
	/* Style for "Rectangle" */
	position: absolute;
	top: 563px;
	left: 9px;
	width: 127px;
	height: 40px;
	border-radius: 20px;
	background-color: #ec8a44;
	border:0px solid;
	color: #ffffff;
	font-size: 16px;
	font-weight: 700;
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
	/* Text style for "Release 20" */
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
}

.instruction-icon{
	/* Style for "Path 4787" */
	position: absolute;
	top: 1031px;
	left: 20px;
}

.logout-icon{
/* Style for "Path 4790" */
	position: absolute;
	top: 1032px;
	left: 70px;
}

.tabel-title{
/* Style for "VIBES Land" */
	position: absolute;
	top: 146px;
	left: 320px;
	width: 264px;
	height: 24px;
	color: #000000;
	font-size: 20px;
	font-weight: 700;
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
	text-align: left;
	/* Text style for "VIBES Land" */
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
}

.last-updated{
/* Style for "Last updat" */
	position: absolute;
	top: 147px;
	left: 1404px;
	width: 341px;
	height: 20px;
	color: #000000;
	font-size: 16px;
	font-weight: 100;
	font-style: italic;
	letter-spacing: normal;
	line-height: normal;
	text-align: left;
/* Text style for "Last updat" */
	letter-spacing: normal;
	line-height: normal;
}

.component-title{
/* Style for "COMPONENT" */
	position: absolute;
	top: 199px;
	left: 318px;
	width: 112px;
	height: 20px;
	color: #000000;
	font-size: 16px;
	font-weight: 700;
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
	text-align: left;
	text-transform: uppercase;
	/* Text style for "COMPONENT" */
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
}

.kolom-title{
/* Style for "DELIVERY S" */
	position: absolute;
	top: 199px;
	left: 500px;
	color: #000000;
	font-size: 16px;
	font-weight: 700;
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
	text-align: left;
	text-transform: uppercase;
/* Text style for "DELIVERY S" */
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;

}

.component-arrow-down{
/* Style for "Path 4786" */
	position: absolute;
	top: 204px;
	left: 440px;
	width: 12px;
	height: 8px;
}

.release-tabel{
/* Style for "Rectangle" */
position: absolute;
top: 238px;
left: 330px;
}

.button-vi-opm{
/* Style for "Rectangle" */
	position: absolute;
	top: 784px;
	left: 326px;
	width: 96px;
	height: 24px;
	border-radius: 50px;
	border: 1px solid rgba(255, 255, 255, 0.25);
	background-color: #efeeed;
/* Style for "VI_OPM" */
	position: absolute;
	top: 789px;
	left: 354px;
	width: 41px;
	height: 13px;
	color: #000000;
	font-size: 10px;
	font-weight: 700;
	text-align: left;
	text-transform: uppercase;
	/* Text style for "VI_OPM" */
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
}

.button-opm-openbug{
/* Style for "Rectangle" */
	position: absolute;
	top: 784px;
	left: 868px;
	width: 96px;
	height: 24px;
	border-radius: 50px;
	border: 1px solid rgba(255, 255, 255, 0.25);
	background-color: #62be66;
/* Style for "76" */
	position: absolute;
	color: #ffffff;
	font-size: 14px;
	font-weight: 700;
	text-align: center;
/* Text style for "76" */
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
}

.button-opm-planned{
/* Style for "Rectangle" */
	position: absolute;
	top: 784px;
	left: 518px;
	width: 96px;
	height: 24px;
	border-radius: 50px;
	border: 1px solid rgba(255, 255, 255, 0.25);
	background-color: #f2d230;
/* Style for "Planned" */
	position: absolute;
	color: #ffffff;
	font-size: 12px;
	font-weight: 700;
/* Text style for "Planned" */
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
}

.release-tabel2{
	/* Style for "Rectangle" */
position: absolute;
top: 823px;
left: 326px;
border: 1px solid rgba(255, 255, 255, 0.25);
background-color: #efeeed;
}


.black-overlay{
	/* Style for "Rectangle" */
	position: absolute;
	top: 0;
	left: 0;
	width: 1920px;
	height: 1080px;
	background-color: rgba(0, 0, 0, 0.5);
}

.component-informatie{
	/* Style for "Rectangle" */
position: absolute;
top: 369px;
left: 480px;
width: 960px;
height: 342px;
box-shadow: 15px 15px 50px rgba(0, 0, 0, 0.2);
border-radius: 50px;
background-color: #e6e3e1;
}

.vi-opm-information{
	/* Style for "VI_OPM - C" */
position: absolute;
top: 405px;
left: 520px;
width: 399px;
height: 24px;
color: #000000;
font-size: 20px;
font-weight: 700;
text-align: left;
text-transform: uppercase;
/* Text style for "VI_OPM - C" */
font-style: normal;
letter-spacing: normal;
line-height: normal;
}

.title-status{
	/* Style for "STATUS" */
position: absolute;
top: 446px;
left: 520px;
width: 72px;
height: 22px;
color: #000000;
font-size: 18px;
font-weight: 700;
text-align: left;
text-transform: uppercase;
/* Text style for "STATUS" */
font-style: normal;
letter-spacing: normal;
line-height: normal;
}

.text-status{
	/* Style for "Lorem ipsu" */
position: absolute;
top: 478px;
left: 520px;
width: 409px;
height: 195px;
color: #000000;
font-size: 16px;
font-weight: 500;
text-align: left;
/* Text style for "Lorem ipsu" */
font-style: normal;
letter-spacing: normal;
line-height: normal;
}

.title-planning{
	/* Style for "PLANNING" */
position: absolute;
top: 446px;
left: 969px;
width: 102px;
height: 22px;
color: #000000;
font-size: 18px;
font-weight: 700;
text-align: left;
text-transform: uppercase;
/* Text style for "PLANNING" */
font-style: normal;
letter-spacing: normal;
line-height: normal;
}

.text-planning{
	/* Style for "Lorem ipsu" */
position: absolute;
top: 478px;
left: 969px;
width: 409px;
height: 195px;
color: #000000;
font-size: 16px;
font-weight: 500;
text-align: left;
/* Text style for "Lorem ipsu" */
font-style: normal;
letter-spacing: normal;
line-height: normal;
}

.component-info-cancel{
	/* Style for "Path 414" */
position: absolute;
top: 393px;
left: 1379px;

}





